.btn
	display: inline-block
	vertical-align: middle
	padding: 12px 15px
	box-sizing: border-box
	font-size: 18px
	line-height: 18px
	font-weight: 700
	text-decoration: none
	color: #000
	background-color: #CECECE
	border: 2px solid #fff
	border-radius: 5px
	box-shadow: 0 0 5px 1px #cacaca, inset 0 -30px 1px 0px #b7b8b8
	outline: none
	transition: .25s
	cursor: pointer

	&:hover
		text-decoration: none
		background-color: #fee57e
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -30px 1px 0px #fdd42e
		transform: scale(1.01)

	&.btn_big
		padding: 14px 18px
		font-size: 22px
		line-height: 22px

	&.btn_small
		padding: 10px 2px
		font-size: 13px
		line-height: 13px
		border-width: 1px

		&:hover
			transform: scale(1.05)

	&.btn_yellow
		background-color: #fee57e
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -30px 1px 0px #fdd42e

		&:hover
			color: #fff
			background-color: #5cbd89
			box-shadow: 0 0 5px 1px #cacaca, inset 0 -31px 1px 0px #009846

	&.btn_orange
		color: #fff
		background-color: #fcc98b
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -30px 1px 0px #f08143

		&.btn_big
			box-shadow: 0 0 5px 1px #cacaca, inset 0 -38px 1px 0px #f08143

	&.btn_light-blue
		color: #fff
		background-color: #8dd9f6
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -21px 1px 0px #4ac2f0

	&.btn_purple
		color: #fff
		background-color: #ae94c3
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -21px 1px 0px #7b519d

	&.btn_green
		color: #fff
		background-color: #76d083
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -21px 1px 0px #2cb640

	&.btn_red
		color: #fff
		background-color: #ec7175
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -36px 1px 0px #cc1c26

	&.btn_icon
		position: relative
		padding: 12px 15px 12px 40px

		&::before
			content: ''
			position: absolute
			top: 50%
			left: 6px
			width: 28px
			height: 28px
			background: #fff url("../img/icon-phone.png") center no-repeat
			background-size: 60%
			border-radius: 50%
			transform: translateY(-50%)

	&.btn_dark-green
		color: #fff
		background-color: #5AA093
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -30px 1px 0px #126958

		&:hover
			color: #000
			background-color: #fee57e
			box-shadow: 0 0 5px 1px #cacaca, inset 0 -30px 1px 0px #fdd42e

+media-breakpoint-down(lg)
	.btn
		padding: 8px 10px
		font-size: 16px
		line-height: 16px
		box-shadow: 0 0 5px 1px #cacaca, inset 0 -25px 1px 0px #b7b8b8

		/*&:hover
			background-color: #fee57e
			box-shadow: 0 0 5px 1px #cacaca, inset 0 -27px 1px 0px #fdd42e

		&.btn_icon
			padding: 8px 10px 8px 35px

			&::before
				width: 22px
				height: 22px

		&.btn_yellow
			box-shadow: 0 0 5px 1px #cacaca, inset 0 -25px 1px 0px #fdd42e

			&:hover
				box-shadow: 0 0 5px 1px #cacaca, inset 0 -27px 1px 0px #009846

		&.btn_big
			padding: 15px
			font-size: 18px
			line-height: 18px

		&.btn_small
			font-size: 12px